
{% extends "base.html" %}

{% block content %}
	<form method="post" action="{{ url_for('save') }}" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Add New Webserver</legend>
			<input name="cat" type="hidden" value='webserver'>
			<input name="modifier" type="hidden" value='id_server'>
			<input name="id" type="hidden" value="{{data[0]}}">
			<input name="act" type="hidden" value="{{act}}">
		
			<label>Location</label>
			<input 
				class="form-control" 
				type="text" 
				name="location"
				value="{{data[1]}}" /><br>
			<label>Max Users</label>
			<input 
				class="form-control" 
				type="text" 
				name="Max_users"
				value="{{data[2]}}" /><br>
			<label>Users Online</label>
			<input 
				class="form-control" 
				type="text" 
				name="users_online"
				value="{{data[3]}}" /><br><br>
			<input type="submit" value=" Save " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}