
{% extends "base.html" %}

{% block content %}
	<form method="post" action="{{ url_for('save') }}" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Add New Fiat</legend>
			<input name="cat" type="hidden" value='fiat'>
			<input name="modifier" type="hidden" value='country'>
			<input name="id" type="hidden" value="{{data[0]}}">
			<input name="act" type="hidden" value="{{act}}">
		
			<label>Country</label>
			<input 
				class="form-control" 
				type="text" 
				name="country"
				value="{{data[0]}}" /><br><br>
			<input type="submit" value=" Save " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}