
{% extends "base.html" %}

{% block content %}
	<form method="post" action="{{ url_for('save') }}" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Add New Diagram</legend>
			<input name="cat" type="hidden" value='diagram'>
			<input name="modifier" type="hidden" value='code_currency'>
			<input name="id" type="hidden" value="{{data[0]}}">
			<input name="act" type="hidden" value="{{act}}">
		
			<label>Changes Per Day</label>
			<input 
				class="form-control" 
				type="text" 
				name="changes_per_day"
				value="{{data[1]}}" /><br>
			<label>Changes Per Week</label>
			<input 
				class="form-control" 
				type="text" 
				name="changes_per_week"
				value="{{data[2]}}" /><br>
			<label>Changes Per Month</label>
			<input 
				class="form-control" 
				type="text" 
				name="changes_per_month"
				value="{{data[3]}}" /><br><br>
			<input type="submit" value=" Save " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}