
<!-- Sidebar Holder -->

    <header class="bg-dark d-flex flex-wrap justify-content-center py-3 border-bottom mr-10">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="text-white fs-1 text-lg-start">Economy_Bot</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item fs-2"><a href="./" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item fs-2"><a href="/logout" class="nav-link"> Logout</a></li>
			<li class="nav-item"><a href="" class="nav-link"> </a></li>
        </ul>
    </header>
