
<!-- Sidebar Holder -->
<nav id="sidebar" class="bg-primary">
	<div class="sidebar-header">
		<h3>
			Economy_Bot Admin<br>
			<i id="sidebarCollapse" class="glyphicon glyphicon-circle-arrow-left"></i>
		</h3>
		<strong>
			Economy_Bot<br>
			<i id="sidebarExtend" class="glyphicon glyphicon-circle-arrow-right"></i>
		</strong>
		
	</div><!-- /sidebar-header -->
	<!-- start sidebar -->
	<ul class="list-unstyled components">
		<li>
			<a href="./" aria-expanded="false">
				<i class="glyphicon glyphicon-home"></i>
				Home
			</a>
		</li>
		<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
	</ul>
</nav><!-- / end sidebar -->