
{% extends "base.html" %}

{% block content %}
	<a class="btn btn-primary" href="./edit_user/add/0">
		<i class="glyphicon glyphicon-plus-sign"></i> Add New User
	</a>
	<h1>User</h1>
	<p>This table includes {{table_count}} user</p>
	<table border="0" class="table d-flex justify-content-start col-md-offset">
        <tbody>
			<tr>
				<td ><input placeholder="Minimum ID:" type="text" id="min_id" name="min_id"></td>
				<td></td>
				<td><input placeholder="Minimum BALANCE:" type="text" id="min_cur" name="min_cur"></td>
				<td></td>
				<td><input placeholder="Minimum PNL:" type="text" id="min_server" name="min_server"></td>
			</tr>
			<tr>
				<td><input placeholder="Maximum ID:" type="text" id="max_id" name="max_id"></td>
				<td></td>
				<td><input placeholder="Maximum BALANCE:" type="text" id="max_cur" name="max_cur"></td>
				<td></td>
				<td><input placeholder="Maximum PNL:" type="text" id="max_server" name="max_server"></td>
			</tr>
		</tbody>
	</table>
	<table id="sorted" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Id Of User</th>
				<th>Name Of User</th>
				<th>Login Of User</th>
				<th>Password Of User</th>
				<th>Balance</th>
				<th>Investment</th>
				<th>Pnl</th>
				<th>Id Server</th>

				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for row_data in data %}
			<tr>
				{% for d in row_data %}
					<td>{{d}}</td>
				{% endfor %}
				<td>
					<a href="./edit_user/edit/{{row_data[0]}}">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
				</td>
				<td>
					<a 
						href="./save?cat=user&act=delete&modifier=id_of_user&id={{row_data[0]}}"
						onclick="return navConfirm(this.href);">
					<i class="glyphicon glyphicon-trash"></i>
					</a>
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}